.bloco {
  background-image: url("../img/wallpaper002.jpg");
  height: 190px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  margin: 10px;
}

#q1 {
  background-position: left top;
}

#q2 {
  background-position: center center;
}

#q3 {
  background-position: center top;
}

#q4 {
  background-position: center right;
}
